body{
  -webkit-foot-smoothing:antialiased;
}
.content-wrap{
  height:100vh;
  display: flex;
  flex-direction: column;
}
@media(min-width:760px){
  .content-wrap{
    flex-direction:row;
  }
}
.nav-header{
  height: 80px;
  background-color: #00bcd4;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-size: 18px;
  color: #fff;
}
.nav-header h3{
  margin: 0;
}
.nav-header p{
  background-color: rgba(0,0,0,0.3);
  border-radius: 4px;
  padding: 3px 5px;
  margin: 0;
}
.back{
  cursor: pointer;
}

.nav-footer{
  height: 80px;
  background-color: #00bcd4;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 18px;
}
.nav-footer a{
  color: #fff;
  flex-grow: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.nav-footer a:focus,a:hover{
  text-decoration: none;
}
.nav-footer a:last-child{
  border: none;
}

.left-nav{
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
  background-color: #00bcd4;
}
.left-nav h3{
  color:#fff;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  border-bottom: 2px solid #FFEB3B;
  font-weight: 600;
}
.left-nav a{
  padding:20px 50px;
  font-size: 18px;
  color:#fff;
}
.left-nav a:hover{
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.left-nav a:focus{
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.content-main{
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
}
.home-container{
  background-image: url(./images/home-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  flex-grow: 1;
  display: flex;
}
.home-cover{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}
.home-item{
  color:#fff;
  text-align: center;
  margin: 0 auto;
}
.home-btn{
  border: none;
  border-radius: 2px;
  background-color: #ff4081;
  padding:8px 20px;
  font-size: 16px;
}
.home-btn:hover{
  background-color: #00bcd4;
}

.blog-container{
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  width: 92%;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media(min-width:1100px){
  .blog-container{
    width:700px;
  }
}
.blog-btn{
  display: block;
  width: 80px;
  height: 25px;
  border: 2px solid deeppink;
  color: deeppink;
  border-radius: 18px;
  text-align: center;
  line-height: 25px;
}
.blog-btn:hover{
  background-color: deeppink;
  color: #fff;
}

.work-container{
  display: flex;
  padding: 10px 20px;
  width:100%;
  flex-wrap: wrap;
}
.work-card{
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  width:94%;
  padding: 10px;
  margin: 10px auto;
  flex-grow: 0;
}
@media (min-width:920px){
  .work-container{
    height:800px;
    width: 1200px;
    margin: auto auto;
  }
}
@media (min-width:540px) {
  .work-card{
    width: 300px;
    height: 230px;
  }
}
.work-decs{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.work-decs img{
  width: 100%;
  display: block;
}
.work-text{
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color:#fff;
  padding-left: 10px;
  border-radius: 0px 0px 2px 2px;
}

.about-wrap{
  width:100%;
  position: relative;
  overflow: hidden;
}
.about-top{
  height: 20vh;
  border-bottom:2px solid #00bcd4;
  width:100%;
}
.about-head{
  width: 110px;
  height: 110px;
  background: url(./images/head.jpg) 50% 50%;
  background-size: cover;
  border:2px solid #999;
  border-radius: 110px;
  position: absolute;
  top:13vh;
  animation:fadeIn 2s linear;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  0% { left: 100% }
  70% { left: -20% }
  100% { left: 20% }
}
.about-content{
  width:408px;
  color: #37474F;
  position: absolute;
  top: 40%;
  animation-delay: 6s;
  animation:fadeLeft 4s infinite linear;

}
@media (min-width:920px) {
  .about-head{
    animation:fadeIn 6s linear;
    animation-fill-mode: both;
  }
  .about-content{
    animation:fadeLeft 9s infinite linear;
  }
}
@keyframes fadeLeft {
  0% { left: -100% }
  100% { left: 100% }
}
.about-wrap p{
  position: absolute;
  bottom:20%;
  left:20%;
  color:deeppink;
}
